		<body>
		<h1>Welcome to the CPT BU'S Covid Impact Analysis Site</h1>
		<h2>Enter Company Name</h2>
		<input class="searchInput" type="text" (keyup)="filterList()" placeholder="Enter here..">
		<nav>
			<ul class="listOfNations">
				<li id="AF">ABBOTT LABORATORIES</li>
				<li id="AX">ABBVIE INC</li>
				<li id="AL">ACCENTURE PLC</li>
				<li id="DZ">ALIBABA GROUP HOLDING LTD</li>
				<li id="AS">ALTRIA GROUP INC</li>
				<li id="AD">AMERICAN EXPRESS CO</li>
				<li id="AO">AMERICAN TOWER CORP</li>
				<li id="AI">ANHEUSER-BUSCH INBEV SA/NV</li>
				<li id="AQ">ANTHEM INC</li>
				<li id="AG">ASTRAZENECA PLC</li>
				<li id="AR">AT&T INC</li>
				<li id="AM">BANCO SANTANDER BRASIL SA</li>
				<li id="AW">BANCO SANTANDER CHILE</li>
				<li id="AU">BANCO SANTANDER MEXICO SA INSTITUCION DE BANCA MULTIPLE GRUPO FINANCIERO SANTAND</li>
				<li id="AT">BANCO SANTANDER RIO SA</li>
				<li id="AZ">BANCO SANTANDER SA</li>
				<li id="BS">BANK OF AMERICA CORP</li>
				<li id="BH">BANK OF NOVA SCOTIA/THE</li>
				<li id="BD">BECTON DICKINSON AND CO</li>
				<li id="BB">BERKSHIRE HATHAWAY INC</li>
				<li id="BY">BLACKROCK INC</li>
				<li id="BE">BRISTOL-MYERS SQUIBB CO</li>
				<li id="BZ">BRITISH AMERICAN TOBACCO MALAYSIA BHD</li>
				<li id="BJ">BRITISH AMERICAN TOBACCO PLC</li>
				<li id="BM">CANADIAN NATIONAL RAILWAY CO</li>
				<li id="BT">CATERPILLAR INC</li>
				<li id="BO">CHINA LIFE INSURANCE CO LTD</li>
				<li id="BQ">CHINA PETROLEUM  CHEMICAL CORP</li>
				<li id="BA">CITIGROUP INC</li>
				<li id="BW">CVS HEALTH CORP</li>
				<li id="BV">DIAGEO PLC</li>
				<li id="BR">DOMINION ENERGY INC</li>
				<li id="IO">DUKE ENERGY CORP</li>
				<li id="BN">ELI LILLY AND CO</li>
				<li id="BG">ENBRIDGE INC</li>
				<li id="BF">EQUINOR ASA</li>
				<li id="BI">ESTEE LAUDER COS INCTHE</li>
				<li id="KH">EXXON MOBIL CORP</li>
				<li id="CM">FIDELITY NATIONAL INFORMATION SERVICES INC</li>
				<li id="CA">GENERAL ELECTRIC CO</li>
				<li id="CV">GLAXOSMITHKLINE PLC</li>
				<li id="KY">GOLDMAN SACHS GROUP INC/THE</li>
				<li id="CF">HOME DEPOT INCTHE</li>
				<li id="TD">HONEYWELL INTERNATIONAL INC</li>
				<li id="CL">HSBC HOLDINGS PLC</li>
				<li id="CN">JOHNSON & JOHNSON</li>
				<li id="CX">JPMORGAN CHASE  CO</li>
				<li id="CC">LOCKHEED MARTIN CORP</li>
				<li id="CO">LOWELL COPPER LTD</li>
				<li id="KM">MASTERCARD INC</li>
				<li id="CG">MEDTRONIC PLC</li>
				<li id="CD">MITSUBISHI UFJ FINANCIAL GROUP INC</li>
				<li id="CK">MORGAN STANLEY</li>
				<li id="CR">NEXTERA ENERGY INC</li>
				<li id="CI">NIKE INC</li>
				<li id="HR">NOVARTIS AG</li>
				<li id="CU">NOVO NORDISK A/S</li>
				<li id="CW">PETROLEO BRASILEIRO SA</li>
				<li id="CY">PFIZER INC</li>
				<li id="CZ">PHILIP MORRIS INTERNATIONAL INC</li>
				<li id="DK">PNC FINANCIAL SERVICES GROUP INC/THE</li>
				<li id="DJ">RIO TINTO PLC</li>
				<li id="DM">ROYAL BANK OF CANADA</li>
				<li id="DO">ROYAL DUTCH SHELL PLC</li>
				<li id="EC">SALESFORCE.COM INC</li>
				<li id="EG">SAP SE</li>
				<li id="SV">TAIWAN SEMICONDUCTOR MANUFACTURING CO LTD</li>
				<li id="GQ">THERMO FISHER SCIENTIFIC INC</li>
				<li id="ER">TOYOTA MOTOR CORP</li>
				<li id="EE">UNILEVER NV</li>
				<li id="ET">UNION PACIFIC CORP</li>
				<li id="FK">UNITED PARCEL SERVICE INC</li>
				<li id="FO">UNITED TECHNOLOGIES CORP</li>
				<li id="FJ">UNITEDHEALTH GROUP INC</li>
				<li id="FI">UNITEDHEALTH GROUP INC</li>
				<li id="FR">VERIZON COMMUNICATIONS INC</li>
				<li id="GF">VISA INC</li>
				<li id="PF">VMWARE INC</li>
				<li id="TF">WALMART INC</li>
				<li id="GA">WELLS FARGO & CO</li>
				
			</ul>
		</nav>	
		<app-drops></app-drops>
		</body>